<div class="announce-bar">
  🚀 Únete gratis hoy &mdash; Acceso inmediato a la primera entrega &nbsp;|&nbsp; <a href="{{ routes.root_url }}">Suscríbete ahora →</a>
</div>

{% schema %}
{ "name": "Announcement Bar", "settings": [] }
{% endschema %}
